.slider {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid purple;
  background: lime;
  font-weight: bold;
  font-size: 25px;
}

.paused {
  background: orange;
  border: 2px solid red;
}
